.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .left-column {
    flex-basis: 50%; /* Adjust the width of the left column as needed */
    padding-right: 16px; /* Add spacing between the columns */
  }
  
  .right-column {
    flex-basis: 50%; /* Adjust the width of the right column as needed */
    padding-left: 16px; /* Add spacing between the columns */
  }
  